<h4>Internal server error -refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
    <h5 class='text-danger'>
        Error:
        {{error.message}}
    </h5>
    <p class="font-weight-bold">
        Note: if you are seeing this then Angulaar is probably not to blame
    </p>
    <p>
        What to do next?
    </p>
    <ol>
        <li>pen the chrome dev tools</li>
        <li>Insepct the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in Postman - if we see the same reponse, then the issue is not with angular</li>
    </ol>
    <p>Following is the stack trace - this it where your investigation should start!</p>
    <code class="mt5" style="background-color: whitesmoke">{{error.details}}</code>
</ng-container>