<div class="row">
    <div class="clo-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async)?.includes(member.username)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}},{{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p *ngIf="member.lastActive!==undefined">{{member?.lastActive | timeago}}</p>
                </div>
                <div> 
                    <strong>Member sice:</strong>
                    <p>{{member.created | date:'MM/dd/yyyy'}}</p>
                </div>
                <div *ngIf="member.likedUser">
                    <strong *ngIf="member.gender==='male'">You liked him</strong>
                    <strong *ngIf="member.gender==='female'">You liked her</strong>
                </div>
                <div *ngIf="member.likedByUser">
                    <strong *ngIf="member.gender==='male'">He liked you</strong>
                    <strong *ngIf="member.gender==='female'">She liked you</strong>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button (click)="addLike(member)"  *ngIf="!member.likedUser" class="btn btn-primary">Like</button>
                    <button (click)="deleteLike(member)" *ngIf="member.likedUser"  class="btn btn-primary">Unlike</button>
                    <button (click)="selectTab(3)"class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='About{{member.knownAs}}'(selectTab)="onTabActivated($event)">
                <h4>Desciption</h4>
                <p>{{member.introduction}}</p>
            </tab>
            <tab heading='Interest'(selectTab)="onTabActivated($event)">
                <h4>Interest</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading='Photos'(selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    style="display:inline-block;margin-bottom: 20px;"></ngx-gallery>
            </tab>
            <tab heading='Messages'(selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>